Flask               # the core framework
Flask-SQLAlchemy     # ORM integration
Flask-Migrate        # DB migrations
python-dotenv        # load .env vars
PyMySQL              # MySQL driver
cryptography         # required by certain extensions
pytest               # testing framework
pytest-flask         # pytest fixtures for Flask
Flask-Admin
Flask-Login
werkzeug
boto3
Flask-WTF
beautifulsoup4
Pillow