# requirements.txt
Flask
Flask-SQLAlchemy
Flask-Migrate
python-dotenv
PyMySQL
cryptography
pytest
pytest-flask
Flask-Admin==2.0.0a4
Flask-Login
werkzeug
boto3
Flask-WTF
beautifulsoup4
Pillow
WTForms-SQLAlchemy
Flask-Caching
