/* app/static/css/admin/previews/parent_preview.css */

.live-preview-container .parent-layout-container {
    padding-top: 1rem;
}

.live-preview-container .container {
    max-width: 100%;
}

.live-preview-container .parent-name-banner {
    margin-bottom: 20px;
}

.live-preview-container .carousel-image {
    max-height: 450px;
}

.live-preview-container .carousel-control-prev-icon,
.live-preview-container .carousel-control-next-icon {
    background-size: 60% 60%;
}