{# app/templates/admin/about_section_edit.html #}
{% extends 'admin/model/edit.html' %}
{% from 'admin/lib.html' import render_form with context %}

{# This block renders the standard form fields #}
{% block edit_form %}
    {{ render_form(form) }}
{% endblock %}

{# This is our new block for the live preview #}
{% block tail %}
    {{ super() }}

    <div class="live-preview-container">
        <h3>Live Preview</h3>
        {# This is a direct copy of the about section HTML from index.html #}
        <section class="my-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    {# The image preview for this is already handled by admin_image_preview.js #}
                    <img src="{{ model.image_s3_key | s3_url }}" class="img-fluid rounded shadow" alt="About us preview">
                </div>
                <div class="col-md-6">
                    <h2 class="display-5" id="preview-about-title"></h2>
                    <div class="lead" id="preview-about-content"></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}