{# 1. Extend the default Flask-Admin base template #}
{% extends 'admin/base.html' %}

{# 2. Override the 'brand' block to use your site's name and link to the homepage #}
{% block brand %}
<a class="navbar-brand" href="{{ url_for('main.index') }}">Tucson Golden Doodles</a>
{% endblock %}

{# 3. Override the 'nav_links' block to remove the redundant button #}
{% block nav_links %}
  {{ super() }}  {# This includes the default links like Logout #}
{% endblock %}

{# This block is where you will add the link to your custom CSS #}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_custom.css') }}">
{% endblock %}

{#  This block renders flash messages, including form errors, #}
{# and ensures the template context is complete for JavaScript to run. #}
{% block messages %}
  {{ super() }}
{% endblock %}

{# Add custom JavaScript for the admin panel #}
{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin_image_preview.js') }}"></script>
    {# --- REMOVE THE CONFLICTING GLOBAL SCRIPT --- #}
    {# <script src="{{ url_for('static', filename='js/admin_content_preview.js') }}"></script> #}
{% endblock %}