{# app/templates/admin/base_admin.html #}
{% extends 'admin/base.html' %}

{% block brand %}
<a class="navbar-brand" href="{{ url_for('main.index') }}">Tucson Golden Doodles</a>
{% endblock %}

{% block nav_links %}
  {{ super() }}
{% endblock %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_custom.css') }}">
{% endblock %}

{% block messages %}
  {{ super() }}
{% endblock %}


{% block tail %}
    {{ super() }}

    {# 1. ADD this script tag to load Bootstrap's JavaScript bundle. #}
    {# This is required for Bootstrap components like carousels and modals to function. #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}