{% extends "base.html" %}

{% block title %}Available Puppies{% endblock %}

{% block content %}
<div class="container py-5">

  {% set title = "Available Puppies" %}
  {% set subtitle = "Browse all puppies currently marked as available." %}
  {% set align = "center" %}
  {% include "components/_section_header.html" %}


  {% if puppies %}
    <div class="row g-4">

      {% for puppy in puppies %}
        {% include "_available_puppy_card.html" %}
      {% endfor %}

    </div>
  {% else %}
    <div class="text-center p-5">
      <p class="lead mb-0">No puppies are currently listed as available.</p>
    </div>
  {% endif %}

</div>
{% endblock %}